@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: 'Mulish', sans-serif;
  --color-primary: rgb(32 140 251);
  --color-dark-primary: rgb(18, 109, 201);
  --color-success: rgb(128 200 95);
  --color-white: #ffffff;
  --color-dark-white: #eaeaeaea;
  --color-yellow: yellow;
}
