@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: gt-eesti, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --color-primary: rgb(32 140 251);
  --color-dark-primary: rgb(18, 109, 201);
  --color-success: rgb(128 200 95);
  --color-white: #ffffff;
  --color-dark-white: #eaeaeaea;
  --color-yellow: yellow;
  --color-midnight-blue: #132968;
  --color-off-white: hsl(0deg 0% 92.94%);
  --color-deep-sea-blue: #054652;
  --color-light-grey: #eaeaeaea;
  --color-slate-blue: #7d969b;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
}

.rdp-months {
  font-size: 0.8rem;
  font-weight: bold;
  color: #004dffd4;
}

.rdp-day_selected {
  color: white !important;
  background-color: #98d5dc !important;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
  padding: 1rem 0rem;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

/* Proprieter CSS react phone verification */

.react-international-phone-input {
  width: 100% !important;
  color: #1e3a8a !important;
  background-color: #f3f4f6 !important;
  font-size: 0.95rem !important;
  padding: 1.5rem 1rem !important;
  border: none !important;
  border-radius: 4px !important;
}
.react-international-phone-country-selector-button__flag-emoji {
  width: 1.5rem;
  height: auto;
}
.react-international-phone-country-selector-button__button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.react-international-phone-country-selector-button {
  padding: 1.5rem 1rem;
  border: none;
  border-right: 1px solid #eaeaea;
}
.react-international-phone-country-selector {
  border: none;
  border-radius: 4px;
}
.react-international-phone-input-container {
  background-color: #f3f4f6;
}
.react-international-phone-input-container.errors {
  border: 1px solid red !important;
  border-radius: 4px !important;
}
